@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
header {
    nav ul li {
        a {
            text-decoration: none;
            color: floralwhite;
        }
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
}
body {
    p { margin: 0; }
    .container { 
        color: floralwhite; 
    }
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    padding: 0;
}